{% set cols = item.wbColumnsCount.value ?? '2' %}
{% set colClass = cols == '3' ? 'col-md-4' : (cols == '4' ? 'col-md-3' : 'col-md-6') %}
{% set hasBorder  = item.wbBorder ?? false %}
{% set borderColor = item.wbBorderColor.value ?? item.wbBorderColor ?? '' %}
{% set rounded     = item.wbRounded.value ?? item.wbRounded ?? '' %}
{% set padding     = item.wbPadding.value ?? item.wbPadding ?? '' %}
{% set titlePos    = item.wbTitlePosition.value ?? item.wbTitlePosition ?? 'outside' %}
{% set extraClasses = '' %}
{% if hasBorder %}{% set extraClasses = extraClasses ~ ' border' %}{% endif %}
{% if hasBorder and borderColor %}{% set extraClasses = extraClasses ~ ' border-' ~ borderColor %}{% endif %}
{% if rounded %}{% set extraClasses = extraClasses ~ ' ' ~ rounded %}{% endif %}
{% if padding %}{% set extraClasses = extraClasses ~ ' ' ~ padding %}{% endif %}

<div class="wb-block wb-columns mb-4{{ extraClasses }}">
    <div class="row g-4">
        {% for column in item.wbColumnItems.all() %}
            <div class="{{ colClass }}">
                {% for block in column.wbBlocks.all() %}
                    {% set item = block %}
                    {% include "wb/components/#{block.type.handle}" ignore missing %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
