{% set pages = item.wbPaginationPages ?? 5 %}
{% set align = item.wbPaginationAlign.value ?? item.wbPaginationAlign ?? 'start' %}
{% set size  = item.wbPaginationSize.value ?? item.wbPaginationSize ?? '' %}
{% set alignStyle = align == 'center' ? 'justify-content:center;' : (align == 'end' ? 'justify-content:flex-end;' : '') %}
<div class="wb-block wb-mb-4">
    {% if item.wbTitle %}<h5>{{ item.wbTitle }}</h5>{% endif %}
    <nav aria-label="Page navigation">
        <ul class="wb-pagination{% if size %} wb-pagination-{{ size }}{% endif %}"{% if alignStyle %} style="{{ alignStyle }}"{% endif %}>
            <li class="is-disabled">
                <span>Previous</span>
            </li>
            {% for p in 1..pages %}
                <li{% if p == 1 %} class="is-active" aria-current="page"{% endif %}>
                    <a href="#">{{ p }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
